{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任丘市防疫物资出库单</title>
    <style>
        table {

            width: 100%;
            border-collapse: collapse;
        }

        tr td, th {
            border: 1px solid black;
            padding: 5px 15px;
        }

        th {
            font-size: 16px;
        }

        td {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div style="margin: 0 auto; width: 1000px">
    <table>
        <tr>
            <th colspan="4" style="font-size: 25px">任丘市防疫物资出库单</th>
        </tr>
        <tr>
            <td>供应商</td>
            <td colspan="3">{{ order.user }}</td>
        </tr>
        <tr>
            <td>出库单号</td>
            <td>{{ order.app_code }}</td>
            <td>总金额</td>
            <td>{{ order.total_price }}</td>

        </tr>
        <tr>
            <td>申请单位</td>
            <td>{{ order.applicant }}</td>
            <td>领用人</td>
            <td>{{ order.applicant_user }}</td>
        </tr>
        <tr>
            <td>申请日期</td>
            <td colspan="3">{{ order.add_date }}</td>
        </tr>
        <tr>
            <td>申请原因</td>
            <td colspan="3">{{ order.des }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="3">物资明细</th>
        </tr>
        <tr>
            <td>物资种类</td>
            <td>数量</td>
            <td>金额</td>
        </tr>
        {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.library_name }}</td>
                <td>{{ order_detail.number }}</td>
                <td>{{ order_detail.total_price }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th colspan="4">审批意见</th>
        </tr>
        <tr>
            {% for foo in approval_historys %}
            <td width="120px">
                审批人：{{ foo.first_name }}
                <br>
                <img src="{{ foo.path }}" alt="" style="width: 200px; height: 50px">
                <br>
                <div style="float: right">日期：{{ foo.date }}</div>
            </td>
            {% endfor %}


        </tr>
    </table>
</div>


</body>
</html>